.form{
    align-items: center;
    text-align: center;
    justify-content: center;
    margin-left: 450px;
    margin-right: 450px;
    padding: 150px 200px;
    background-color:white; 
    

}
h2{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    justify-content: top;
    align-items: top;
    margin-top: 25px;
    margin-bottom: 15px;
}
label{
    font-size: 18px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}
input{
    border-radius:10px;
    width: 250px;
}
Button{
    align-items: center;
    align-content: bottom;
    margin-top: 15px;
}
p{
    margin-top: 10px;
    margin-left: 15px;
    text-align: center;
}

